---
---
<div class="footer">
    <div class="footer_left">Copyright  © 2024  letesdev</div>
    <!-- <div class="footer_right"></div> -->
</div>

<style>
    .footer {
        align-items: center;
        align-content: center;
        bottom: 0px;
        max-width: 700px;
        margin: 0 auto 3px;
    }

    .footer_left {
        padding: 0.5rem 1rem 1rem 1rem;
        margin: auto;
        width: 100%;
    }

    /* @media (width <= 700px) {
        .footer_left {
            align-self: flex-start;
            margin-right: 20px;
        }
    } */
</style>